<a href="https://colab.research.google.com/github/marce3-2140/Pandas-Exercises/blob/main/bykes_RailsToTrails.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lida Marcela Giraldo**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [17]:
import pandas as pd
from datetime import datetime

In [25]:
filename = '/content/drive/MyDrive/CodingDojo/Fundamentals/Week2/Cargas/RailsToTrails_National Count Data_week (1).xlsx'
bike_df = pd.read_excel(filename)
bike_df.head(3)

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679,183546,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340,97140,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315,75782,NaN,0.216112,121.611169,NaN,NaN,NaN

In [27]:
#Leer datos como en un excel
file_name = '/content/drive/MyDrive/CodingDojo/Fundamentals/Week2/Cargas/RailsToTrails_National Count Data_week (1).xlsx'
xl_file = pd.ExcelFile(file_name)
dfs = {sheet_name: xl_file.parse(sheet_name)
        for sheet_name in xl_file.sheet_names}

bike_df = dfs['Total Count data (31 counters)']
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679,183546,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340,97140,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315,75782,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801,83809,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841,94738,NaN,0.249166,124.916602,NaN,NaN,NaN

**1. Solo seleccione los datos despues del 31 de julio de 2020**

In [18]:
bike_df[bike_df['Week of']>'2020-07-31']

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679,183546,NaN,0.094627,1.094627,NaN,NaN,NaN
31,Week 32,2020-08-03,180605,239827,NaN,0.330000,132.790897,NaN,NaN,NaN
32,Week 33,2020-08-10,191450,219279,NaN,0.150000,114.535910,NaN,NaN,NaN
33,Week 34,2020-08-17,168754,241007,NaN,0.430000,142.815578,NaN,NaN,NaN
34,Week 35,2020-08-24,176624,273677,NaN,0.550000,154.948931,NaN,NaN,NaN
35,Week 36,2020-08-31,184806,227918,NaN,0.230000,123.328247,NaN,NaN,NaN
36,Week 37,2020-09-07,157345,207670,NaN,0.320000,131.983857,NaN,NaN,NaN
37,Week 38,2020-09-14,152527,207320,NaN,0.360000,135.923476,NaN,NaN,NaN
38,Week 39,2020-09-21,141072,207918,NaN,0.470000,147.384314,NaN,NaN,NaN
39,Week 40,2020-09-28,135881,186004,NaN,0.370000,136.887424,NaN,NaN,NaN
40,Week 41,2020-10-05,132239,182924,NaN,0.380000,138.328330,NaN,NaN,NaN
41,Week 42,2020-10-12,110816,159246,NaN,0.440000,143.703075,NaN,NaN,NaN
42,Week 43,2020-10-19,110761,141404,NaN,0.280000,127.665875,NaN,NaN,NaN
43,Week 44,2020-10-26,109795,147907,NaN,0.350000,134.711963,NaN,NaN,NaN
44,Week 45,2020-11-02,109766,154502,NaN,0.410000,140.755790,NaN,NaN,NaN
45,Week 46,2020-11-09,86824,155805,NaN,0.790000,179.449231,NaN,NaN,NaN
46,Week 47,2020-11-16,88122,97835,NaN,0.110000,111.022219,NaN,NaN,NaN
47,Week 48,2020-11-23,72380,101036,NaN,0.400000,139.591047,NaN,NaN,NaN
48,Week 49,2020-11-30,81871,84123,NaN,0.030000,102.750669,NaN,NaN,NaN
49,Week 50,2020-12-07,68364,92126,NaN,0.350000,134.758060,NaN,NaN,NaN
50,Week 51,2020-12-14,58063,73188,NaN,0.260000,126.049291,NaN,NaN,NaN
51,Week 52,2020-12-21,71890,69962,NaN,-0.030000,97.318125,NaN,26.728808,0.514016

In [19]:
date_time_str = '2020-07-31'
date_time_obj = datetime.strptime(date_time_str, '%Y-%m-%d')
result = bike_df[bike_df['Week of']> date_time_obj]
result.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679,183546,NaN,0.094627,1.094627,NaN,NaN,NaN
31,Week 32,2020-08-03,180605,239827,NaN,0.330000,132.790897,NaN,NaN,NaN
32,Week 33,2020-08-10,191450,219279,NaN,0.150000,114.535910,NaN,NaN,NaN
33,Week 34,2020-08-17,168754,241007,NaN,0.430000,142.815578,NaN,NaN,NaN
34,Week 35,2020-08-24,176624,273677,NaN,0.550000,154.948931,NaN,NaN,NaN

**2. Solo seleccionen los datos donde la columna “Change 2019-2020” es superior al 100 % (superior 1).**

In [30]:
sup_1 = bike_df[bike_df['Change 2019-2020']>1]
sup_1

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
7,Week 8,2020-02-17,69492,149876,NaN,1.156737,215.673747,NaN,NaN,NaN
11,Week 12,2020-03-16,125440,367795,NaN,1.932039,293.203922,NaN,NaN,NaN
12,Week 13,2020-03-23,136330,372783,NaN,1.730000,273.441649,NaN,NaN,NaN
13,Week 14,2020-03-30,118784,280728,NaN,1.360000,236.334860,NaN,NaN,NaN
14,Week 15,2020-04-06,132033,419160,NaN,2.170000,317.466088,NaN,NaN,NaN

**3. ¡Únanlos! ¿Hubo alguna semana en la segunda mitad del año (después del 31 de julio de 2020) en la que el cambio fuera superior al 100 %?**

In [37]:
sup_1['Week of']>'2020-07-31'

7     False
11    False
12    False
13    False
14    False
Name: Week of, dtype: bool